*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spoti-icon: #666666;
    --spoti-primary: #141922;
    --spoty-secondary: #080b12;
    --spoty-final: #282828;
}

body{
    overflow: hidden;
}

.top{
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar{
    width: 50px;
    height: 100%;
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    overflow-y: hidden;
    

    li{
        padding-top: 1rem;
    }

    .logo{


        img{
            width: 20px;
        }

        .lg-big{
            display: none;
        }
    }

    nav{

        img{
            width: 20px;
        }

        .dwn{
            width: 20px;
        }

        hr{
            display: none;
            margin-top: 1rem;
        }
    }

    a{ 
        display: flex;
        align-items: center;

        span{
            padding-left: 0.5rem;
        }

        h5{
            color: white;
            padding: 2rem 0 0.5rem 0;
        }
    }

    .playlist{
        display: none;
    }

    .scroll{
        min-height: 231px;
    }

    .big{
        font-size: 18px;
    }

    .fa-square-plus{
        font-size: 35px;
    }
}

main{
    width: calc(100% - 50px);
    background-color: var(--spoti-primary);
    overflow-y: auto;

    .upgrade{
        height: 90px;
        text-align: end;
        padding: 2rem 0.5rem;
        background-color: var(--spoty-secondary);

        a{
            border: 1px solid var(--spoti-icon);
            padding: 1rem 2rem;
            border-radius: 6rem;
            font-size: 12px;

            &:hover{
                border: 1px solid white;
            }
        }
    }

    .menu{
        padding: 1rem;
        background-color: var(--spoti-primary);
        
        .genres{

            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
            }
        }

        .music{

            h2{
                color: white;
                padding: 2.5rem 0;
            }
        }
    }

    .most-listened{
        img{
            border-radius: 50%;
        }
    }
}

.card .card-top{
    position: relative;
    

    .start{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        

        i{
            font-size: 70px;
        }
    }
}

.card-top:hover{

    background-color: rgba(0, 0, 0, 0.705);

}

.card-top:hover .start{
    display: block;
}





.bottom{
    height: 80px;
    background-color: var(--spoty-final);
    display: flex;

    .song{
        display: flex;
        flex-grow: 1;
        align-items: center;

        a{
            &:hover{
                color: white;
            }
        }
        

        .detail{
            display: flex;
            padding: 2.5rem 0.5rem;
    
            img{
                width: 40px;
            }
    
            .card-right{
                padding-left: 0.75rem;
    
                h5{
                    color: white;
                    font-size: 16px;
                }
    
                p{
                    font-size: 12px;
                }
            }
        }

        .icon{
            padding-left: 0.5rem;

            i{
                color: var(--spoti-icon);
            }
        }
    }

    .play{
        flex-grow: 2;
        align-self: center;

        ul{
            display: flex;  
            gap: 1rem;
            justify-content: center;
        }

        .track{
            padding: 1rem;
            position: relative;
        }

        .track::before{
            content: '';
            height: 6px;
            width: 90%;
            background-color: white;
            border-radius: 10px;
            opacity: 0.3;
            position: absolute;
        }

        .track::after{
            content: '';
            height: 6px;
            width: 70%;
            display: block;
            background-color: white;
            border-radius: 10px;
        }
    }

    .volume{
        flex-grow: 1;
        align-self: center;

        ul{
            display: flex;
            gap: 1rem;
            justify-content: center;
        }
    }


    
}



/* Utilities */

img{
    max-width: 100%;
    opacity: 1;
}

.text-hidden{
    display: none;
}

a{
    text-decoration: none;
    color: var(--spoti-icon);

    &:hover{
        color: white;
    }
}

li{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-6{
    width: calc(100% / 12 * 6);
}

[class^="col"]
{
    padding: 1rem;
}

h2{
    color: white;
    padding: 3rem 0 1rem 0;
}

h3{
    color: white;
    padding: 1rem 0;
}

p{
    color: var(--spoti-icon);
}

.card-bottom{
    text-align: center;
}

/* Media Query */

@media screen and (min-width: 639px) {

    .sidebar{
        width: 220px;
        align-items: start;

        .logo{
            .lg-small{
                display: none;
            }

            .lg-big{
                display: block;
                width: 100px;
            }
        }

        .playlist{
            display: block;
        }

        nav hr{
            display: block;
        }
    }

    .text-hidden{
        display: inline;
    }
    
}

@media screen and (min-width: 878px) {

    .main{
        width: calc(100% - 220px);
    }

    .col-3{
        width: calc(100% / 12 * 3);
    }
    
}

@media screen and (min-width: 1440px) {
    
    .col-2{
        width: calc(100% / 12 * 2);
    }
}