*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spoti-icon: #666666;
    --spoti-primary: #141922;
    --spoty-secondary: #080b12;
}

.top{
    background-color: black;
    display: flex;
}

.sidebar{
    width: 10%;
    max-width: 220px;
    height: 1000px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    li{
        padding-top: 1rem;
    }

    .logo{
        img{
            width: 20px;
        }

        .lg-big{
            display: none;
        }
    }

    nav{
    width: 100%;

        img{
            width: 20px;
        }

        .dwn{
            width: 20px;
        }

        hr{
            display: none;
            margin-top: 1rem;
        }
    }

    a{ 
        display: flex;
        align-items: center;

        span{
            padding-left: 0.5rem;
        }

        h5{
            color: white;
            padding: 2rem 0 0.5rem 0;
        }
    }

    .playlist{
        display: none;
    }

    .playlist ul li:first-child{
        font-size: 18px;
    }

    .fa-square-plus{
        font-size: 35px;
    }
}

main{
    width: 90%;
    max-width: 1140px;
    background-color: var(--spoti-primary);

    .upgrade{
        height: 90px;
        text-align: end;
        padding: 2rem 0.5rem;
        background-color: var(--spoty-secondary);

        a{
            border: 1px solid var(--spoti-icon);
            padding: 1rem 2rem;
            border-radius: 6rem;
            font-size: 12px;

            &:hover{
                border: 1px solid white;
            }
        }
    }

    .menu{
        padding: 1rem;
        
        .genres{

            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
            }
        }

        h2{
            color: white;
            padding: 2.5rem 0;
        }

        .music{

            .card-bottom{
                text-align: center;
            }

            h3{
                color: white;
                padding: 1rem 0;
            }

            p{
                color: var(--spoti-icon);
            }
        }

    }
}



/* Utilities */

img{
    max-width: 100%;
}

.text-hidden{
    display: none;
}

a{
    text-decoration: none;
    color: var(--spoti-icon);

    &:hover{
        color: white;
    }
}

li{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-6{
    width: calc(100% / 12 * 6);
}

[class^="col"]
{
    padding: 1rem;
}

/* Media Query */

@media screen and (min-width: 639px) {

    .sidebar{
        width: 30%;
        align-items: start;

        .logo{
            .lg-small{
                display: none;
            }

            .lg-big{
                display: block;
                width: 200px;
            }
        }

        .playlist{
            display: block;
        }

        nav hr{
            display: block;
        }
    }

    .text-hidden{
        display: inline;
    }
    
}